<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>Seopstagram</title>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/profile.css">
    <link rel="shortcut icon" href="/imgs/instagram.png">
</head>
<body>
<section id="container">
    <header th:insert="menu.html"></header>

    <div id="main_container">
        <section class="b_inner">
            <div class="hori_cont">
                <div class="profile_wrap">
                    <div class="profile_img">
                        <img th:attr="src=${userprofileimg} , alt='프로필사진'">
                    </div>
                </div>

                <div class="detail">
                    <div class="top">
                        <div class="user_name" th:text="${usernick}"></div> <!-- 유저 닉네임  ok-->
                        <input hidden="hidden" th:value="${userid}" id="userid">
                        <a href="#" class="active" id="follow">팔로우</a>
                        <a href="#" id="follow_success">팔로우 완료</a>
                    </div>

                    <ul class="middle">
                        <li>
                            <span>게시물</span>
                            <span th:text="${board_count}"></span>
                        </li>
                        <li>
                            <span>팔로워</span>
                            <span th:text="${follower_count}"></span>
                        </li>
                        <li>
                            <span>팔로우</span>
                            <span th:text="${following_count}"></span>
                        </li>
                    </ul>
                </div>
            </div>

            <!-- div each -->
            <div th:each="board: ${boards}" class="contents_container">
                <div class="pic">
                    <img th:attr="src=${board.boardimg}, alt='올린 사진'">
                </div>
            </div>
        </section>
    </div>
</section>
<script>
    $("#follow").click(function () {
        $.ajax({
            url: '/follow',
            method: 'post',
            data:{
                followingid: document.getElementById('userid').value,
                followingnick: $('.user_name').text()
            }
        });
    });
</script>
</body>
</html>